/* Common features */

body {
  font-family: 'Lato', sans-serif; /* 100;300;400;700;900 */
}

h1 {
  font-family: 'Yeseva One', cursive;
  font-size: 42px;
  color: #eae8e6;
  padding-bottom: 20px;
  position: relative;
}

ul {
  list-style-type: none;
}

.btn {
  color: #ae8652;
  text-transform: uppercase;
  font-size: 15px;
  font-weight: 700;
  border: 2px solid #ae8652;
  border-radius: 0;
  padding: 10px 30px;
  flex-grow: 0;
}

/* --------------------------- Header --------------------------- */
header {
  width: 100%;
  background-color: black;
  background-image: url('img/header_background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

/* Navbar */
header nav {
  height: 80px;
  width: 100%;
}

nav .nav-logo,
nav .nav-menu {
  height: 80px;
}

.nav-logo img {
  height: 50px;
}

nav .nav-menu i {
  color: #eae8e6;
  vertical-align: middle;
}

.nav-menu i[class*=fa-bars] {
  font-size: 20px;
  margin-left: 25px;
}

/* Jumbotron */
header #jumbotron .jumbo-info,
#jumbotron .jumbo-img,
.jumbo-img > img {
  height: 100%;
}

.jumbo-info > h1::after {
  content: '';
  width: 25%;
  height: 3px;
  position: absolute;
  left: 0;
  bottom: 0px;
  background-color: #ae8652;
}

.jumbo-info > p {
  color: #505050;
  font-weight: 300;
  font-size: 18px;
  padding: 15px 0;
}

/* --------------------------- Main --------------------------- */

/* Section 1: Pro-Barbers */

/* Section 2: Services */

/* Section 3: Products */

/* Section 4: Reviews */

/* Section 5: Blog Posts */

/* --------------------------- Footer --------------------------- */

/* Footer Top */
footer #footer-top {
  background-color: #111110;
}

#footer-top ul.contacts {
  padding: 20px 0;
  color: #505050;
}

ul.contacts a {
  color: #505050;
}

#footer-top .social-media > p {
  text-transform: uppercase;
  font-weight: 700;
  color: #ae8652;
  padding-bottom: 20px;
}

#footer-top .social-media li {
  display: inline-block;
  padding: 0 10px;
}

#footer-top .social-media i {
  color: #b0b0b0;
}

/* Footer Credits */
footer #credits {
  background-color: #191817;
  color: #353333;
  font-size: 16px;
  font-weight: 700;
}

#credits li {
  display: inline-block;
  padding: 0 10px;
  border-right: 1px solid #353333;
}

#credits li:last-child {
  border-right: none;
}

/* ------------------- MEDIA QUERY ------------------- */

/* Breakpoint Small 576px sm */
@media screen and (min-width: 576px) {
}

/* Breakpoint Medium 768px md */
@media screen and (min-width: 768px) {
}

/* Breakpoint Large 992px lg */
@media screen and (min-width: 992px) {
}

/* Breakpoint Extra Large 1200px xl */
@media screen and (min-width: 1200px) {
}
