/* Common features */

body {
  font-family: 'Roboto', sans-serif;
}

h1 {
  color: #eae8e6;
  padding-bottom: 20px;
  position: relative;
}

a {
  display: block;
}

.btn {
  color: #ae8652;
  text-transform: uppercase;
  font-size: 15px;
  font-weight: 600;
  border: 2px solid #ae8652;
  border-radius: 0;
  padding: 10px 30px;
}

/* --------------------------- Header --------------------------- */
header {
  width: 100%;
  background-color: black;
  background-image: url('img/avadabarbers-homepage-hero-bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

/* Navbar */
header nav {
  height: 80px;
  width: 100%;
}

nav .logo,
nav .nav-menu {
  height: 80px;
}

nav .logo img {
  height: 50px;
}

nav .nav-menu i {
  color: #eae8e6;
}

.nav-menu i[class*=fa-bars] {
  font-size: 20px;
  margin-left: 20px;
}

/* Jumbotron */
header #jumbotron {
  width: 100%;
  position: relative;
}

header #jumbotron .jumbo-info,
#jumbotron .jumbo-img,
.jumbo-img > img {
  height: 100%;
}

.jumbo-info > h1::after {
  content: '';
  width: 25%;
  height: 3px;
  position: absolute;
  left: 0;
  bottom: 0px;
  background-color: #ae8652;
}

.jumbo-info > p {
  color: #505050;
  font-weight: 300;
  font-size: 18px;
  padding: 15px 0;
}

#jumbotron .icons-right {
  background-color: yellow;
  position: absolute;
  top: 0;
  right: 0;
}


/* --------------------------- Main --------------------------- */

/* Section 1: Pro-Barbers */

/* Section 2: Services */

/* Section 3: Products */

/* Section 4: Reviews */

/* Section 5: Blog Posts */

/* --------------------------- Footer --------------------------- */

/* Footer Top */

/* Footer Credits */


/* ------------------- MEDIA QUERY ------------------- */

/* Breakpoint Small 576px sm */
@media screen and (min-width: 576px) {
}

/* Breakpoint Medium 768px md */
@media screen and (min-width: 768px) {
}

/* Breakpoint Large 992px lg */
@media screen and (min-width: 992px) {
}

/* Breakpoint Extra Large 1200px xl */
@media screen and (min-width: 1200px) {
}
